* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 20px 0 0 20px;
}

.input {
  width: 200px;
  height: 30px;
  margin-bottom: 20px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 15px;
}
.input:focus {
  outline: none;
}

.button {
  background-color: #00CC00;
  width: 70px;
  height: 30px;
  border: none;
  border-radius: 15px;
  text-align: center;
  font-weight: 400;
  transition: 0.2s;
}
.button:hover {
  border: 3px solid #54F56C;
}
.button:focus {
  outline: none;
}

.container {
  margin: 30px 0 0 200px;
  display: flex;
  flex-wrap: wrap;
}

.text {
  font-family: "Commissioner", sans-serif;
  font-weight: 500;
}

.card {
  width: 200px;
  height: 150px;
  margin: 10px;
}

.card-image {
  display: block;
  width: 200px;
  height: 150px;
}